<div>
  <div>
    <h1>
      List of all cuisines
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <table border="2">
      <tr>
        <th>
          ID
        </th>

        <th>
          Name
        </th>

        <th>
          Number of restaurants
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>
      </tr>

      <% @list_of_cuisines.each do |a_cuisine| %>
      <tr>
        <td>
          <%= a_cuisine.id %>
        </td>

        <td>
          <a href="/cuisines/<%= a_cuisine.id %>">
            <%= a_cuisine.name %>
          </a>
        </td>

        <td>
          <% matching_restaurants = Restaurant.all.where(:cuisine_id => a_cuisine.id) %>
          <%= matching_restaurants.count %>
        </td>

        <td>
          <%= time_ago_in_words(a_cuisine.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_cuisine.updated_at) %> ago
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
