<div class="container-fluid">

<h1>
  <%= @the_cuisine.name %> Restaurants
</h1>

<div>
  <a href="/cuisines">
    Go to all cuisines
  </a>
</div>
<div>
  <a href="/restaurants">
    Go to all restaurants
  </a>
</div>

<% if @current_user.id == 1 %>  
<div>
  <a href="/delete_cuisine/<%= @the_cuisine.id %>">
    Delete cuisine
  </a>
</div>
<% end %>

<div>
  <% if @list_of_restaurants.count != 0 %>
    <div class="row row-cols-1 row-cols-md-3 g-4">
      <% @list_of_restaurants.each do |a_restaurant| %>
        <div class="col">
          <div class="card h-100" style="width: 18rem;">
            <div class="card-header">
              <h5 class="card-title"> <%= a_restaurant.name %> </h5>
            </div>
            <div class="card-body">
              <ul class="list-group list-group-flush">
                <li class="list-group-item"> <%= a_restaurant.address %> </li>
                <li class="list-group-item"> <%= a_restaurant.rating %> </li>
                <li class="list-group-item"> Comments
                  <ul>
                    <% Comment.where({ :restaurant_id => a_restaurant.id }).each do |a_comment| %>
                      <li class="list-group-item"> <%= a_comment.user.username %>: <%= a_comment.text %> </li>
                    <% end %>
                  </ul>
                </li>
              </ul>
            </div>
            <div class="card-footer">
              <a href="/restaurants/<%= a_restaurant.id %>" class="card-link">Show details</a>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% else %>
    <form action="/insert_restaurant">
      <button>
        Add a restaurant to add a cuisine
      </button>
    </form>
  <% end %>
</div>

</div>