<div>
  <div>
    <h1>
      <%= @the_cuisine.name %> Restaurants
    </h1>

    <div>
      <div>
        <a href="/cuisines">
          Go to all cuisines
        </a>
      </div>
      
      <div>
        <a href="/restaurants">
          Go to all restaurants
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Name
      </dt>
      <dd>
        <%= @the_cuisine.name %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_cuisine.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_cuisine.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>

<% if @list_of_restaurants.count != 0 %>
  <div>
    <div>
      <table border="2">
        <tr>
          <th>
            ID
          </th>

          <th>
            Name
          </th>

          <th>
            Address
          </th>

          <th>
            Cuisine
          </th>

          <th>
            Comments
          </th>

          <th>
            User
          </th>

          <th>
            Created at
          </th>

          <th>
            Updated at
          </th>
        </tr>

        <% @list_of_restaurants.each do |a_restaurant| %>
          <tr>
            <td>
              <%= a_restaurant.id %>
            </td>

            <td>
              <a href="/restaurants/<%= a_restaurant.id %>">
                <%= a_restaurant.name %>
              </a>
            </td>

            <td>
              <%= a_restaurant.address %>
            </td>

            <td>
              <a href="/cuisines/<%= a_restaurant.cuisine.id %>">
                <%= a_restaurant.cuisine.name %>
              </a>
            </td>

            <td>
              <%= a_restaurant.comments %>
            </td>

            <td>
              <a href="/user_details/<%= a_restaurant.restaurant_user.id %>">
                <%= a_restaurant.restaurant_user.username %>
              </a>
            </td>

            <td>
              <%= time_ago_in_words(a_restaurant.created_at) %> ago
            </td>
            <td>
              <%= time_ago_in_words(a_restaurant.updated_at) %> ago
            </td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
<% else %>
  <div>
  <form action="/insert_restaurant">
    <button>
      Add a restaurant to add a cuisine
    </button>
  </form>
</div>
<% end %>

<hr>

<% if @current_user != nil %>
  <div>
    <h2>
      Edit cuisine
    </h2>

    <div>
          <a href="/delete_cuisine/<%= @the_cuisine.id %>">
            Delete cuisine
          </a>
        </div>

    <form action="/modify_cuisine/<%= @the_cuisine.id %>"  method="post" >
      <div>
        <label for="name_box">
          Name
        </label>

        <input type="text" id="name_box" name="query_name" value="<%= @the_cuisine.name %>">
      </div>

      <button>
        Update cuisine
      </button>
    </form>
  </div>
<% else %>
<% end %>