<div class="container-fluid">

<div>
    <h1>
      All users
  </h1>
</div>

<% @list_of_users.each do |a_user| %>
<div class="list-group">
  <a href="/users/<%= a_user.id %>" class="list-group-item list-group-item-action">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1"><%= a_user.first_name %> <%= a_user.last_name %></h5>
      <small class="text-muted">Click to show @<%= a_user.username %>'s restaurants</small>
    </div>
    <p class="mb-1">@<%= a_user.username %></p>
    <% matching_ratings = Rating.all.where(:user_id => a_user.id) %>
    <% rests = matching_ratings.map_relation_to_array(:restaurant_id) %>
    <% matching_restaurants = Restaurant.where({ :id => rests }).distinct %>
    <small class="text-muted"><%= matching_restaurants.count %> restaurants</small>
  </a>
</div>
<% end %>

</div>