<div class="container-fluid">

<h1>
  <a href="/user_details/<%= @the_user.id %>"><%= @the_user.first_name %> <%= @the_user.last_name %></a>'s Restaurants
</h1>

<div>
  <a href="/users">
    Go to all users
  </a>
</div>

<div>
  <% if @list_of_restaurants.count != 0 %>
    <div class="row row-cols-1 row-cols-md-2 g-4">
      <% @list_of_restaurants.each do |a_restaurant| %>
        <div class="col">
          <div class="card h-100" style="width: 30rem;">
            <div class="card-header">
              <h5 class="card-title"> <%= a_restaurant.name %> </h5>
            </div>
            <div class="card-body">
              <ul class="list-group list-group-flush">
                <li class="list-group-item"> <%= a_restaurant.address %> </li>
                <li class="list-group-item"> User's rating:
                  <% a_restaurant.list_of_ratings.each do |a_rating| %>
                    <% if a_rating.user.id == @the_user.id %>
                      <%= a_restaurant.rating %>
                    <% end %>
                  <% end %>
                </li>
                <li class="list-group-item"> Comments
                  <ul>
                    <% Comment.where({ :restaurant_id => a_restaurant.id }).each do |a_comment| %>
                      <li class="list-group-item"> <%= a_comment.user.username %>: <%= a_comment.text %> </li>
                    <% end %>
                  </ul>
                </li>
              </ul>
            </div>
            <div class="card-footer">
              <a href="/restaurants/<%= a_restaurant.id %>" class="card-link">Show details</a>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% else %>
    <% if @current_user == @the_user %>
      <p>
        <form action="/insert_restaurant">
          <button>
            Add a restaurant
          </button>
        </form>
      </p>
    <% else %>
      <p></p>
      No restaurants yet
    <% end %>
  <% end %>
</div>

</div>