<div>
  <div>
    <h1>
      List of all dishes
    </h1>
  </div>
</div>

<hr>

<div>
  <form action="/insert_dish">
    <button>
      Add a dish
    </button>
  </form>
</div>

<hr>

<div>
  <div>
    <table border="2">
      <tr>
        <th>
          ID
        </th>

        <th>
          Name
        </th>

        <th>
          Image
        </th>

        <th>
          Restaurant
        </th>

        <th>
          Comments
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_dishes.each do |a_dish| %>
      <tr>
        <td>
          <%= a_dish.id %>
        </td>

        <td>
          <%= a_dish.name %>
        </td>

        <td>
          <%= a_dish.image %>
        </td>

        <td>
          <%= a_dish.restaurant_id %>
        </td>

        <td>
          <%= a_dish.comments %>
        </td>

        <td>
          <%= time_ago_in_words(a_dish.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_dish.updated_at) %> ago
        </td>

        <td>
          <a href="/dishes/<%= a_dish.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
