<div class="container-fluid">

<h1><%= @the_dish.name %> from <%= @the_dish.restaurant.name %></h1>

<img src="<%= @the_dish.image %>" class="img-fluid" width="500">

<hr>

<div>
  <h2>
    Edit image
  </h2>

  <div>
    <a href="/delete_picture/<%= @the_dish.id %>">
      Delete image
    </a>
  </div>

  <form action="/modify_picture/<%= @the_dish.id %>"  method="post" class="form-horizontal" enctype="multipart/form-data">
    <div>
      <label for="name_box">
        Name
      </label>

      <input type="text" id="name_box" name="query_name" value="<%= @the_dish.name %>">
    </div>

    <div>
        <label for="image_box">
          Image
        </label>

        <div class="col-8">
          <input type="file" id="image" name="image" class="form-control">
        </div>
      </div>

    <div>
      <label for="restaurant_id_box">
        Restaurant
      </label>

      <select id="restaurant_id_box" name="query_restaurant" value="<%= @the_dish.restaurant.name %>">
        <% Restaurant.all.each do |a_restaurant| %>
          <% if @the_dish.restaurant == a_restaurant %>
            <option value="<%= a_restaurant.id %>" selected="true"><%= a_restaurant.name %></option>
          <% else %>
            <option value="<%= a_restaurant.id %>"><%= a_restaurant.name %></option>
          <% end %>
        <% end %>
      </select>
    </div>

    <div>
      <label for="comments_box">
        Add a comment
      </label>

      <textarea id="comments_box" name="query_comments"></textarea>
    </div>

    <button>
      Update image
    </button>
  </form>
</div>