<div class="container-fluid">
  <div class="row justify-content-lg-left">
    <div>
      <a href="/restaurants">
        Go to all restaurants
      </a>
    </div>
  </div>

  <div class="row justify-content-lg-left">
    <div class="col-lg-8">
    <div class="row">
      <div class="card">
        <div class="card-header">
          <%= @the_restaurant.name %>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><%= @the_restaurant.address %></li>
          <li class="list-group-item">
            <% if @the_restaurant.cuisine != nil %>
              <dd>
                <%= @the_restaurant.cuisine.name %>
              </dd>
            <% end %>
          </li>
          <li class="list-group-item">Overall rating: <%= @the_restaurant.rating %></li>
          <li class="list-group-item">
            <ul>
              <% @the_restaurant.list_of_ratings.each do |a_rating| %>
                <li>
                  <%= a_rating.user.username %>: <%= a_rating.rate %> (<%= a_rating.updated_at.strftime("%D %Z") %>)
                </li>
              <% end %>
            </ul>
          </li>
          <% if Comment.where({ :restaurant_id => @the_restaurant.id }).count != 0 %>
            <li class="list-group-item"> Comments
              <ul>
                <% Comment.where({ :restaurant_id => @the_restaurant.id }).each do |a_comment| %>
                  <li class="list-group-item"> <%= a_comment.user.username %>: <%= a_comment.text %> </li>
                <% end %>
              </ul>
            </li>
          <% end %>
        </ul>
      </div>
    </div>

    <p></p>

    <div class="row">
      <form action="/insert_picture">
        <button>
          Add an image
        </button>
      </form>
    </div>

    <p></p>

    <div class="row row-cols-1 row-cols-md-3 g-4">
      <% Dish.where({ :restaurant_id => @the_restaurant.id }).each do |a_dish| %>
        <div class="col">
          <div class="card h-100" style="width: 10rem;">
            <div class="card-header">
              <%= a_dish.name %>
            </div>
            <img src="<%= a_dish.image %>" class="img-fluid">
            <div class="card-body">
              <p class="card-text">
                From: <a href="/restaurants/<%= a_dish.restaurant.id %>" class="card-link"><%= a_dish.restaurant.name %></a>
              </p>
              <p class="card-text">
                Uploaded by: <a href="/users/<%= a_dish.user.id %>" class="card-link"><%= a_dish.user.username %></a>
              </p>
            </div>
            <div class="card-footer">
              <a href="/pictures/<%= a_dish.id %>" class="card-link">Show details</a>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    </div>
  
    <div class="col-lg-4">
      <% if @current_user != nil %>
      <form action="/modify_restaurant/<%= @the_restaurant.id %>"  method="post" >
        <div>
          <h3>
            Edit restaurant
          </h3>

          <div>
            <a href="/delete_restaurant/<%= @the_restaurant.id %>">
              Delete restaurant
            </a>
          </div>

            <div>
              <label for="name_box">
                Name
              </label>

              <input type="text" id="name_box" name="query_name" value="<%= @the_restaurant.name %>">
            </div>

            <div>
              <label for="address_box">
                Address
              </label>

              <textarea id="address_box" name="query_address"><%= @the_restaurant.address %></textarea>
            </div>

            <div>
              <label for="cuisine_box">
                Cuisine
              </label>

              <select id="cuisine_box" name="query_cuisine" value="<%= @the_restaurant.cuisine %>">
                <% Cuisine.all.each do |a_cuisine| %>
                  <% if @the_restaurant.cuisine == a_cuisine %>
                    <option value="<%= a_cuisine.id %>" selected="true"><%= a_cuisine.name %></option>
                  <% else %>
                    <option value="<%= a_cuisine.id %>"><%= a_cuisine.name %></option>
                  <% end %>
                <% end %>
              </select>
              (If the cuisine is not listed, <a href="/insert_cuisine">create a new cuisine</a>)
            </div>

            <p>
            <button>
              Update restaurant
            </button>
            </p>
        </div>

        <p></p>

        <div>
          <h4>
            Add/change rating or comment
          </h4>

          <div>
              <label for="rating_box">
                Rating
              </label>

              <% array = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10] %>
              <select id="rating_box" name="query_rating" value="<%= @the_restaurant.rating %>">
                <% array.each do |a_number| %>
                  <% if @the_restaurant.rating == a_number %>
                    <option value="<%= a_number %>" selected="true"><%= a_number %></option>
                  <% else %>
                    <option value="<%= a_number %>"><%= a_number %></option>
                  <% end %>
                <% end %>
              </select>
            </div>

            <div>
              <label for="comments_box">
                Add a comment
              </label>

              <textarea id="comments_box" name="query_comments"></textarea>
            </div>

            <button>
              Post
            </button>
        </div>
      </form>
      <% end %>
    </div>
  </div>
</div>