<!DOCTYPE html>
<html>
  <head>
    <title>FinalProject</title>
    <%= csrf_meta_tags %>

    <!-- Expand the number of characters we can use in the document beyond basic ASCII 🎉 -->
    <meta charset="utf-8">

    <!-- Make it responsive to small screens -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>

    <% if session.fetch(:user_id) != nil %>
      <ul>
        <li>
          Current user: <%= @current_user.first_name %> <%= @current_user.last_name %>
        </li>
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="/user_sign_out">Sign Out</a>
        </li>
      </ul>
    <% else %>
      <ul>
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="/user_sign_up">Sign Up</a>
        </li>
        <li>
          <a href="/user_sign_in">Sign In</a>
        </li>
      </ul>
    <% end %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
